/* Fonts */
@font-face {
  font-family: 'Questrial';
  src: url(../assets/fonts/Questrial-Regular.ttf);
}

@font-face {
	font-family: 'Avenir';
  src: url(../assets/fonts/Avenir-LT-35-Light.ttf);
}
/* ^Fonts^ */

/* default rules */
:root {
	--purple: #7E55F6;
	--light-purple: #dacdff;
	--input-red: #8E2627;
	--p-gray: gray;
	--transition-fast: 0.3s;
	--transition-normal: 0.5s;
	--transition-slow: 1s;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	font-family: 'Questrial';
	background-color: black;
}

input,
button {
	all: unset;
}

textarea {
	border: none;
	overflow: auto;
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	resize: none;
}

header,
footer,
section {
	overflow: hidden;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: white;
}

::-webkit-scrollbar-thumb {
	background: var(--purple);
}
/* ^default rules^ */

/* reusable class */
.purpleReversBigBtn,
.purpleBigBtn,
.purpleReversSmallBtn,
.purpleSmallBtn {
	color: white;
	background-color: var(--purple);
	border: 1px solid;
	border-color: var(--purple);
	padding: 18px 55px;
	transition: var(--transition-normal);
	font-family: 'Avenir';
	display: inline-block;
	line-height: 22px;
}

.purpleReversSmallBtn,
.purpleSmallBtn {
	padding: 11px 43px;
}

.purpleReversBigBtn:hover,
.purpleBigBtn:hover,
.purpleReversSmallBtn:hover,
.purpleSmallBtn:hover {
	background-color: transparent;
	border-color: white;
}

.purpleReversSmallBtn,
.purpleReversBigBtn {
	background-color: transparent;
	border-color: white;
}
.purpleReversSmallBtn:hover,
.purpleReversBigBtn:hover {
	background-color: var(--purple);
	border-color: var(--purple);
}

.purpleLinkBtn {
	transition: var(--transition-normal);
	color: white;
}
.purpleLinkBtn:hover {
	color: var(--light-purple) !important;
}

.verticalLine::before {
	content: "";
	position: absolute;
	width: 1px;
	height: 100%;
	top: 0;
	left: 50%;
	background-color: #eee;
}
.horizontalLine::after {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	left: 0;
	top: 50%;
	background-color: #eee;
}

.verticalLine-50,
.horizontalLine-50 {
	display: block;
	width: 50%;
	height: 1px;
	background-color: #eee;
}

.verticalLine-50 {
	width: 1px;
	height: 50%;
}

.paragraphTopLine {
	width: 50%;
	height: 1px;
	background-color: white;
	display: inline-block;
}

.scrollEffectImgVer,
.scrollEffectImgHor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
/* ^reusable class^ */

/* header */
.header {
	padding: 20px 68px;
}

.header .top {
	display: flex;
  align-items: center;
  justify-content: space-between;
}

.header .top .icon {
	display: flex;
  width: fit-content;
  flex-direction: column;
  color: white;
  transform: translateY(10px);
}
.header .top .icon h1 {
	font-size: 34px !important;
	margin: 0 !important;
	font-weight: unset;
	position: relative;
	padding-bottom: 6px;
}

.header .top .icon h1::before {
	content: "";
  position: absolute;
  bottom: 15px;
  right: 40px;
  width: 6px;
  height: 6px;
  background-color: var(--purple);
}

.header .top .icon span {
	font-size: 12px;
	font-family: 'Avenir';
}

.header .top .btnContainer .logInBtn {
	color: white;
	font-family: 'Avenir';
}
.header .top .btnContainer .enrollNowBtn {
	margin-left: 25px;
}

.header nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 17px;
}

.header nav a {
	transition: var(--transition-normal);
	color: white;
	padding-left: 46px;
	font-family: 'Avenir';
}

.header nav a:hover {
	color: var(--light-purple) !important;
}

.header nav a.selected {
	color: var(--light-purple);
}
/* ^header^ */

/* footer */
.footer {
	position: relative;
	display: flex;
	color: white;
	padding: 50px 140px 100px;
	margin-top: 50px;
}

.footer.verticalLine::before {
	background-color: #535353;
}

.footer .leftSide {
	width: 50%;
}

.footer .leftSide .icon {
	padding-bottom: 132px;
	display: inline-block;
}

.footer .leftSide .icon h2 {
	color: white;
	font-weight: unset;
	font-size: 34px;
	line-height: 41px	;
	position: relative;
	margin: 0;
}

.footer .leftSide .icon h2::before {
	content: "";
  position: absolute;
  right: 39px;
  bottom: 11px;
  width: 6px;
  height: 6px;
  background-color: var(--purple);
}

.footer .leftSide .icon span {
	color: white;
	font-size: 12px;
  font-family: 'Avenir';
}

.footer .leftSide h3 {
	font-size: 56px;
	line-height: 67px;
	padding-bottom: 33px;	
	font-weight: unset;
}

.footer .rightSide {
	width: 50%;
	padding-left: 175px;
}

.footer .rightSide .follow .data {
	text-decoration: underline;
}

.footer .rightSide .info,
.footer .rightSide .address,
.footer .rightSide .follow {
	padding-bottom: 50px;
}

.footer .rightSide div h3 {
	font-size: 25px;
	line-height: 38px;
	font-weight: unset;
}

.footer .rightSide .data {
	line-height: 29px;
	font-family: 'Avenir';
	color: white;
	display: block;
}

.footer .arrow {
	position: absolute;
	bottom: 100px;
	right: 100px;
	width: 50px;
  transform: rotate(180deg);
}
/* ^footer^ */

/* page title */
.pageTitle {
	background-color: #191919;
	padding: 70px;
	text-align: center;
	color: white;
}

.pageTitle h2.title {
	font-size: 56px;
	line-height: 67px;
	font-weight: unset;
	padding-bottom: 17px;
}

.pageTitle p.discription {
	font-size: 25px;
	line-height: 38px;
}
/* ^page title^ */

/* lazyLoadText */
.lazyLoadTextHor,
.lazyLoadTextVer {
	opacity: 0;
	transition: var(--transition-slow);
}

.lazyLoadTextHor {
	transform: translateX(-5%);
}
.lazyLoadTextHor.slide {
	opacity: 1;
	transform: translateX(0px);	
}

.lazyLoadTextVer {
	transform: translateY(10%);
}
.lazyLoadTextVer.slide {
	opacity: 1;
	transform: translateY(0px);	
}

.footer .arrow.lazyLoadTextVer {
	transform: translateY(10%) rotate(180deg);	
}

.footer .arrow.lazyLoadTextVer.slide {
	transform: translateY(0px) rotate(180deg);	
}
/* ^lazyLoadText^ */

/* page on load anim */
body::before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index: 99;
	transition: var(--transition-slow);
}

body.loaded::before {
	opacity: 0;
	visibility: hidden;
}
/* ^page on load anim^ */

/* mobile nav */
.mobileNav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: black;
	transform: translateY(-7%);
	z-index: 1;
	opacity: 0;
	transition: var(--transition-slow);
	visibility: hidden;
}

.mobileNav.slide {
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
}

.mobileNav .logBtn {
	margin: 30px 0px 0px 20px;
	border: unset;
}

.mobileNav .links {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.mobileNav .links a {
	color: white;
	font-size: 30px;
	padding-bottom: 40px;
}

.mobileNav .enrollBtn {
	display: block;
  width: fit-content;
  margin: 0 auto;
}

.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  outline: none;
  color: white;
	position: absolute;
	top: 35px;
	right: 20px;
	z-index: 1;	
}

.menu svg {
	width: 40px;
}

.line {
  fill: none;
  stroke: white;
  stroke-width: 6;
  transition: stroke-dasharray cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: var(--transition-slow);
}

.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}

.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
/* ^mobile nav^ */

/* custom select box */
div.select {
	width: calc(100% - 40px);
	background-color: #eee;
	cursor: pointer;
}

div.select .bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 20px;
}

div.select .bar .title {
	font-size: 20px;
}

div.select .bar .arrow {
	font-weight: bold;
  font-size: 25px;
  transform: scaleX(1.5) rotateX(180deg) translateY(5px);
  transition: 0.3s;
}

div.select.clicked .bar .arrow {
	transform: scaleX(1.5) rotateX(0deg) translateY(5px);
}

div.select .container {
	transition: 0.3s;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

div.select .container span.opt {
	padding: 10px 20px;
}

div.select .container span.opt:not(:last-of-type) {
	border-bottom: 1px solid #bbb;
}

div.select .container span.opt.selected {
	background-color: #d9d9d9;
}
/* ^custom select box^ */

/* Responsive Page */

/* Mobile and Tablet (768px and lower) */
@media screen and (max-width: 768px) {

	/* header */
	.header {
		padding: 20px;
		background-color: black;
	}

	.header .btnContainer {
		display: none;
	}

	.header nav {
		display: none;
	}

	.header .top .icon h1 {
		padding-bottom: 0;
	}

	.header .top .icon span {
		font-size: 15px;
	}

	.header .top .icon h1::before {
		bottom: 8px;
		right: 73px;
	}
	/* ^header^ */
	/* Footer	*/
	.footer {
		padding: 20px;
		display: block;
	}

	.footer.verticalLine::before {
		content: unset;
	}

	.footer .leftSide {}

	.footer .leftSide .icon {
		padding-bottom: 50px;
	}

	.footer .leftSide h3 {
		font-size: 35px;
		line-height: unset;
	}

	.footer .leftSide,
	.footer .rightSide {
		width: unset;
		padding: 0;
	}

	.footer span.line {
		display: block;
		width: calc(100% + 40px);
		transform: translateX(-20px);
		height: 1px;
		background-color: gray;
		margin: 50px 0;
	}

	.footer img.arrow {
		display: none;
	}

	.footer i.arrow {
		display: block;
		transform: rotate(0deg) !important;
    position: fixed;
		/* right: 10px; */
    background-color: white;
    width: fit-content;
    padding: 5px 10px;
    border: 1px solid black;
    color: black;
    font-size: 30px;
	}
	/* ^Footer^	*/
	/* page title	*/
	.pageTitle {
		padding: 50px 20px;
	}

	.pageTitle h2.title {
		font-size: 40px;
		line-height: unset;
	}
	/* ^page title^	*/
}

/* Laptop, PC and larg monitor (770px and higher) */
@media screen and (min-width: 770px) {
	.footer img.arrow {
		display: block;
	}

	.header .menu,
	.footer span.line,
	.footer i.arrow {
		display: none;
	}
}
/* ^Responsive Page^ */